.about-person {
  .about-person-flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .about-person-image {
    width: 100px;

    @media (min-width: $mediumbp) {
      width: 144px;
    }
  }

  .about-person-text {
    flex: 1;
  }

  img {
    border-radius: 300px;
    width: 100px;
    height: 100px;
    object-fit: cover;

    @media (min-width: $mediumbp) {
      width: 144px;
      height: 144px;
    }
  }

  h3,
  h4 {
    font-size: 14px;

    @media (min-width: $mediumbp) {
      font-size: 18px;
    }

    @media (min-width: $largebp) {
      font-size: 24px;
    }
  }

  h4 {
    color: $primary;
    margin-top: 5px;
  }
}
