.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 0 24px;
  border-radius: 100px;
  background: $gray;
  color: $white;
  line-height: 60px;
  font-size: 14px;
  transition: 0.2s transform, 0.2s background-color;

  @media (min-width: $mediumbp) {
    line-height: 74px;
    font-size: 18px;
    padding: 0 32px;
  }

  @media (min-width: $largebp) {
    line-height: 89px;
    font-size: 24px;
  }

  &:hover {
    background-color: $primary;
    transform: scale(1.02);
  }

  &.fullWidth {
    display: flex;
  }
}
