.color-block {
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  color: $white;

  @media (min-width: $mediumbp) {
    height: 25vh;
    min-height: 240px;
    border-radius: 60px;
  }

  &.gray {
    background: $gray;
  }

  &.primary {
    background: $primary;
  }

  &.secondary {
    background: $secondary;
  }

  h2 {
    font-size: 18px;

    @media (min-width: $mediumbp) {
      font-size: 20px;
    }

    @media (min-width: $largebp) {
      font-size: 24px;
    }
  }

  p {
    margin-top: auto;
    font-size: 14px;

    @media (min-width: $mediumbp) {
      font-size: 18px;
    }

    @media (min-width: $largebp) {
      font-size: 20px;
    }
  }
}

.color-block-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 40px;

  @media (min-width: $mediumbp) {
    padding-bottom: 60px;
  }

  svg {
    margin-left: auto;
  }
}
