.footer {
  margin: 10px 0;
}

.footer-box {
  background: $gray;
  color: white;
  border-radius: 30px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: $mediumbp) {
    gap: 0px;
    border-radius: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 50px;
  }
}

.footer-social {
  flex: 1;
  display: flex;
  gap: 10px;

  a {
    color: white;
    display: flex;
    border: 1px solid $borderOnDark;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 32px;
    transition: 0.2s transform, 0.2s background-color;

    @media (min-width: $mediumbp) {
      font-size: 18px;
      width: 90px;
      height: 50px;
    }

    &:hover {
      background-color: #1f2222;
      transform: scale(1.08);
    }
  }
  svg,
  img {
    transform: scale(0.8);

    @media (min-width: $mediumbp) {
      transform: none;
    }
  }
}

.footer-nav {
  @media (min-width: $mediumbp) {
    margin-left: 180px;
  }

  h2,
  li {
    font-size: 14px;

    @media (min-width: $mediumbp) {
      font-size: 18px;
    }

    @media (min-width: $largebp) {
      font-size: 24px;
    }
  }

  h2 {
    color: white;
    line-height: 1.6;
  }

  li {
    margin-top: 5px;
  }

  a {
    color: $primary;
    transition: 0.2s color;

    &:hover {
      color: $white;
    }
  }
}

.footer-copy {
  width: 100%;
  font-size: 14px;
  margin-top: 40px;

  @media (min-width: $mediumbp) {
    margin-top: 120px;
  }

  @media (min-width: $largebp) {
    margin-top: 200px;
    font-size: 20px;
  }

  svg,
  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 30px;

    @media (min-width: $mediumbp) {
      width: auto;
    }
  }
}
