.header {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  width: 60px;
  transition: 0.2s transform;

  @media (min-width: $mediumbp) {
    width: 120px;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;

  @media (min-width: $mediumbp) {
    min-height: 150px;
  }
}

.header-nav {
  display: inline-flex;
  align-items: center;
  margin-left: 40px;
  gap: 40px;

  a {
    color: $text;
    font-size: 18px;
    display: none;
    transition: 0.2s color, 0.2s transform;

    @media (min-width: $mediumbp) {
      display: block;
    }

    @media (min-width: $largebp) {
      font-size: 20px;
    }

    &:hover {
      color: $primary;
      transform: translateY(-2px);
    }
  }
}

.header-more {
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.2s transform, 0.2s background-color;

  @media (min-width: $mediumbp) {
    width: 60px;
    height: 60px;
  }

  &:hover {
    transform: scale(1.02);
    background-color: $primaryHover;
  }
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: #f5f1f1;
  opacity: 0;
  left: -9999px;
  transition: $fadeOff;
  overflow: auto;

  &.open {
    left: 0;
    opacity: 1;
    transition: $fadeOn;
  }

  .width {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;

    @media (min-width: $mediumbp) {
      padding-bottom: 40px;
    }
  }
}

.header-overlay-navs {
  padding-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
  padding-bottom: 40px;
  gap: 40px;

  @media (min-width: $mediumbp) {
    padding-top: 10vh;
    flex-direction: row;
    justify-content: initial;
  }

  @media (min-width: $mediumbp) {
    padding-top: 10vh;
  }
}

.header-overlay-nav {
  &:last-of-type {
    order: -1;

    @media (min-width: $mediumbp) {
      order: initial;
    }
  }

  & + & {
    //margin-top: 70px;

    @media (min-width: $mediumbp) {
      margin: 0 0 0 100px;
    }

    @media (min-width: $largebp) {
      margin: 0 0 0 160px;
    }
  }

  h2 {
    color: $lightText;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width: $mediumbp) {
      font-size: 14px;
    }
  }

  li {
    line-height: 1.2;
  }

  a {
    color: $text;
    font-size: 32px;
    transition: 0.2s color;

    @media (min-width: $mediumbp) {
      font-size: 48px;
    }

    @media (min-width: $largebp) {
      font-size: 64px;
    }

    &:hover {
      color: $primary;
    }
  }

  &:last-of-type li:first-of-type a,
  &:last-of-type li:last-of-type a {
    transition: 0.2s color;

    &:hover {
      color: $text;
    }
  }

  &:last-of-type li:first-of-type a {
    color: $primary;
  }

  &:last-of-type li:last-of-type a {
    color: $secondary;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    margin: -15px 0 0 10px;
  }
}

.header-overlay-social {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  padding-bottom: 20px;

  a {
    width: 92px;
    height: 50px;
    border: 1px solid $border;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s transform, 0.2s background-color;

    &:hover {
      transform: scale(1.06);
      background-color: #f1f1f1;
    }
  }
}
