.home-blocks {
  padding-bottom: 10px;

  .home-block + .home-block {
    margin-top: 10px;
  }
}

.home-blocks-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $mediumbp) {
    flex-direction: row;
  }
}

.home-blocks-flex-left,
.home-blocks-flex-right {
  flex: 1;
}

.home-blocks-flex-left {
  display: flex;

  .home-block {
    width: 100%;

    @media (min-width: $mediumbp) {
      height: auto;
    }
  }
}
