.projects-project {
  @media (min-width: $mediumbp) {
    display: flex;
    align-items: center;
  }
}

.projects-project-left,
.projects-project-right {
  @media (min-width: $mediumbp) {
    width: 50%;
  }
}

.projects-project-left {
  margin-bottom: 30px;
  position: relative;

  @media (min-width: $mediumbp) {
    margin-bottom: 0px;
  }

  & > img {
    border-radius: 30px;
    max-width: none;
    width: 100%;

    @media (min-width: $mediumbp) {
      border-radius: 60px;
    }
  }
}

.projects-project-logo {
  display: flex;
  background: white;
  position: absolute;
  top: 50%;
  width: 256px;
  height: 176px;
  left: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(0.65);

  @media (min-width: $mediumbp) {
    border-radius: 30px;
    transform: translate(-50%, -50%);
  }

  img {
    width: inherit;
  }
}

.projects-project-right {
  @media (min-width: $mediumbp) {
    padding-left: 40px;
  }

  @media (min-width: $xlargebp) {
    padding-left: 100px;
  }

  @media (min-width: $xxlargebp) {
    padding-left: 150px;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

    @media (min-width: $mediumbp) {
      font-size: 24px;
    }

    @media (min-width: $largebp) {
      font-size: 32px;
    }
  }

  p {
    font-size: 14px;

    @media (min-width: $mediumbp) {
      font-size: 18px;
    }

    @media (min-width: $largebp) {
      font-size: 24px;
    }
  }

  .button {
    margin-top: 20px;
  }
}
