.projects-projects {
  margin: 60px 0;

  @media (min-width: $mediumbp) {
    margin: 150px 0;
  }

  .projects-project + .projects-project {
    margin-top: 60px;

    @media (min-width: $mediumbp) {
      margin-top: 10px;
    }
  }
}
