// @font-face {
//   font-family: "PolySans";
//   src: url("/fonts/subset-PolySans-Bulky.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "PolySans Slim";
//   src: url("subset-PolySans-SlimItalic.woff") format("woff");
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: "PolySans Bulky";
//   src: url("subset-PolySans-BulkyItalic.woff") format("woff");
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "PolySans";
  src: url("/fonts/subset-PolySans-NeutralItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PolySans";
  src: url("/fonts/subset-PolySans-Neutral.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "PolySans Slim";
//   src: url("subset-PolySans-Slim.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "PolySans Median";
//   src: url("subset-PolySans-MedianItalic.woff") format("woff");
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "PolySans";
  src: url("/fonts/subset-PolySans-Median.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
