// Colors
$white: #fff;
$black: #000;
$primary: #32b8bb;
$primaryHover: #2da2a4;
$secondary: #4c3486;
$secondaryHover: #3f2a6e;
$text: #161d1c;
$gray: #161d1c;
$grayHover: #0c100f;
$lightText: #b2b1b1;
$border: #c8c7c6;
$borderOnDark: #2d3231;

// fonts
$font: "PolySans", sans-serif;

// Breakpoints
$tinybp: 374px;
$smallbp: 500px;
$smbp: 640px;
$mediumbp: 960px;
$largebp: 1100px;
$xlargebp: 1300px;

// Transitions
$fadeOff: left 0s 0.15s, opacity 0.15s;
$fadeOn: left 0s, opacity 0.15s;
