// Colors
$white: #fff;
$black: #000;
$primary: #32b8bb;
$secondary: #4c3486;
$text: #161d1c;
$gray: #161d1c;

// fonts
$font: sans-serif;

// Breakpoints
$tinybp: 374px;
$smallbp: 500px;
$smbp: 640px;
$mediumbp: 800px;
$largebp: 960px;
$xlargebp: 1100px;

// Transitions
$fadeOffTransition: left 0s 0.15s, opacity 0.15s;
$fadeOnTransition: left 0s, opacity 0.15s;
